{% extends "home_app/index.html" %}
{% load static %}

{% block family_app_content %}
<div class="pt-3 text-center">
    <h1>Acerca de mi</h1>
</div>
<br><br>
<center>
    Esta app es un blog familiar enfocado en las publicaciones de las mascotas de los familiares y de los vecinos para
    que todos
    podamos ver lo grandiosas que son nuestros fieles compañeros.

    <hr class="my-3" />
    <h3>
        Diana Sofia Tenorio
    </h3>
    <p>Estudiante de ingeniera industrial 5t0 semestre apasionada por del deporte y en especial por el futbol</p>

    <hr class="my-3" />
    <h3>
        Andrés Felipe Toro
    </h3>
    <p>Estudiante de ingeniería industrial me gusta practicar deporte y me gustan los animales</p>


</center>
<!-- Divider-->

{% endblock %}