{% extends "home_app/index.html" %}
{% load static %}

{% block family_app_content %}
<div class="pt-3 text-center">
    <h2>Busqueda de Mascotas</h2>
</div>
<br><br>
<div class="text-center">
    <!-- Buscador -->
    <form action="{% url 'home_app:home' %}" method="GET">
        <div>
            <input type="text" name="search_param" id="familiar" placeholder="Buscar.." {% if search_param %}
                value="{{ search_param }}" {% endif %}>
            <button class="btn btn-primary" type="submit">Buscar</button>
        </div>
    </form>
</div>
<!-- Divider-->
<hr class="my-5" />

<!-- Si hay resultados en el buscador los presenta -->
{% if pet_list %}
<div class="px-5">
    <ul class="list-group">
        {% for pet in pet_list %}
        <li class="list-group-item">
            <a class="text" href="{% url 'pet_app:pet-detail' pet.id %}">
                <h2>{{ pet.titulo }}</h2>
            </a>
            <h3>Mascota: {{ pet.nombre }}</h3>
            <p class="post-meta">
                Creado por
                <span style="color: #0b4956;" href="">{{ pet.owner.username }}</span>
                ( {{ pet.created_at }} )
            </p>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
</div>

{% endblock %}