{% extends "home_app/index.html" %}
{% load static %}

{% block family_app_content %}

<a class="btn btn-primary float-right" href="{% url 'pet_app:pet-add' %}">Crear nueva mascota</a>
<br>

<div class="pt-3 text-center">
    <h2>Lista de Mascotas</h2>
</div>

<br>
<div class="px-5">
    <ul class="list-group">
        {% for pet in pets %}
        <li class="list-group-item">
            <p class="h5"> <b>{{ pet.nombre }}</b> <br>
                <i>Tipo: </i>{{ pet.tipo }}
                <span class="mx-3"></span>
                <i>Raza: </i>{{ pet.raza }}
                <span class="mx-3"></span>
                <i>Edad: </i>{{ pet.edad }}
            </p>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}